{% extends 'catalog/base.html' %}

{% block title %}
    Thank you
{% endblock %}

{% block body %}
<div class="container">
    {% load i18n%}
    <h1>{% trans 'Thank you'%} {{request.user.username}}!</h1>
    <hr>
    <p class="para">{% trans 'Your order has been successfully completed. Your order number is' %} <strong>{{ order.id }}</strong>.</p>
    <p class="para">{% trans 'Please stay logged in while we process your order. Once we are done, we will update the status of your order' %}</p>
    <p class="para">{% trans 'View the status of your order in your dashboard' %}</p>
</div>
{% endblock %}