{% extends "catalog/base.html" %}

{% block title %}Top up your account{% endblock %}

{% block body %}
<div class="container">
    {% load i18n %}
    {% if messages %}
        {% for message in messages %}
             <div class="panel panel-default panther col-md-12">
                 <div class="panel-body pan-bod">
                     <h2 class="message">{{ message|safe }} </h2>
                 </div>
             </div>
        {% endfor %}
    {% endif %}
     <h1>{% trans 'Payment Failed' %}</h1>
     <hr>
    <p class="para">Payment for this bid failed with the above message. Please ensure that your account has a minimum of <span style="color:black; font-weight:bold">Ksh {{bid_amount}}</span> to complete your request</p>
</div>

{% endblock %}